name: Docker Build

on:
  push:
    branches:
      - main
      - master
  pull_request:
  workflow_dispatch:
    inputs:
      api:
        description: "Build API"
        required: true
        default: true
        type: boolean
      ui:
        description: "Build UI"
        required: true
        default: true
        type: boolean

permissions:
  contents: read
  packages: write

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      api: ${{ steps.filter.outputs.api }}
      ui: ${{ steps.filter.outputs.ui }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            api:
              - 'api/**'
            ui:
              - 'ui/**'

  build-api:
    needs: changes
    if: ${{ needs.changes.outputs.api == 'true' || inputs.api == true }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install DevSpace
        uses: loft-sh/setup-devspace@main
        with:
          version: "v6.3.18"

      - name: Build API
        run: devspace build -t $(git describe --always) ${{ github.event_name == 'pull_request' && '--skip-push' || '' }}

  build-ui:
    needs: changes
    if: ${{ needs.changes.outputs.ui == 'true' || inputs.ui == true }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ui
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install DevSpace
        uses: loft-sh/setup-devspace@main
        with:
          version: "v6.3.18"

      - name: Build UI
        run: devspace build -t $(git describe --always) ${{ github.event_name == 'pull_request' && '--skip-push' || '' }}
